:root {
    --white: #FFFFFF;
    --high-contrast: #333333;
    --mid-contrast: #666666;
    --low-contrast: #999999;
    --primary: #A7F0BA;
    --secondary: #514DE2;
    --light-secondary: #7B95FC;
    --bg: #FCFAF1;
    --border: #F5EDCD;
    --header-font: "IBM Plex Mono", monospace;
    --body-font: "Merriweather", serif;
    --secondary-font: "Inter", sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--high-contrast);
    font-family: var(--body-font);
    background-color: var(--white);
}
body * {
    margin-bottom: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a, button {
    display: inline-block;
    text-decoration: none;
    transition: all 0.33s;
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4 {
    font-family: var(--header-font);
    line-height: 1.08;
    font-weight: 500;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5, h6 {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--secondary-font);
    font-weight: 700;
}
h6 {
    font-size: 14px;
}
.container {
    max-width: 1500px;
    padding: 0 50px;
}

/* Header Style */
header.header {
    position: relative;
    z-index: 999;
    padding: 16px 0;
    border-bottom: 1px solid var(--border);
}
.site-logo .white {
    display: none;
}
.logo-area {
    display: flex;
    align-items: flex-end;
}
.logo-area > span {
    margin-left: -44px;
    font-size: 12px;
    font-family: var(--secondary-font);
    font-weight: 500;
}
.mainmenu {
    gap: 30px;
    justify-content: flex-end;
}
.mainmenu > ul {
    display: flex;
    gap: 24px;
}
.mainmenu > ul > li > a {
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 500;
    padding: 4px;
    color: var(--high-contrast);
}
.magnifying-btn {
    width: 40px;
    height: 40px;
    color: var(--low-contrast);
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: transparent;
    padding: 6px;
}
.magnifying-btn:hover {
    color: var(--white);
    border-color: var(--primary);
    background: var(--primary);
}
.modal-dialog {
    max-width: 800px;
    margin: 96px auto;
}
.modal-content.search-form-modal {
    border-radius: 15px;
    padding: 80px 70px 110px;
}
.modal-content .modal-close {
    position: absolute;
    right: 24px;
    top: 20px;
    padding: 8px;
    border: none;
    background: none;
    font-size: 24px;
    line-height: 1;
}
.search-form-content {
    position: relative;
}
.search-form-content input[type="text"] {
    display: block;
    width: 100%;
    height: 80px;
    border: 2px solid var(--border);
    border-radius: 15px;
    padding: 24px 24px 24px 104px;
    outline: none;
    font-weight: 300;
    background: transparent;
}
.search-form-content button {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 2px solid var(--border);
    border-radius: 15px 0 0 15px;
    padding: 24px;
    color: var(--high-contrast);
    font-size: 20px;
}

/* Footer Style */
footer.footer {
    background-color: var(--bg);
    padding: 96px 0 48px;
}
.footer-heading {
    margin-bottom: 100px;
}
ul.popular-question {
    font-size: 12px;
    line-height: 1.25;
    font-family: var(--secondary-font);
    font-weight: 500;
}
ul.popular-question li:not(li:last-child) {
    margin-bottom: 8px;
}
ul.popular-question li a {
    background-color: var(--primary);
    padding: 5px 12px;
    border-radius: 5px;
    color: var(--mid-contrast);
}
.footer-category ul, .copyright-text p {
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 500;
    line-height: 1.6;
}
.footer-category ul li a {
    color: var(--high-contrast);
}
.footer-about {
    max-width: 530px;
    min-width: 300px;
}
.footer-about p {
    font-size: 21px;
    font-family: var(--secondary-font);
    font-weight: 400;
    color: #000000;
    margin-bottom: 48px;
}