:root {
    --white: #FFFFFF;
    --high-contrast: #333333;
    --mid-contrast: #666666;
    --low-contrast: #999999;
    --primary: #A7F0BA;
    --secondary: #514DE2;
    --light-secondary: #7B95FC;
    --bg: #FCFAF1;
    --border: #F5EDCD;
    --header-font: "IBM Plex Mono", monospace;
    --body-font: "Merriweather", serif;
    --secondary-font: "Inter", sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--high-contrast);
    font-family: var(--body-font);
    background-color: var(--white);
}
body * {
    margin-bottom: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a, button {
    display: inline-block;
    text-decoration: none;
    transition: all 0.33s;
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
    line-height: 1.08;
    font-weight: 500;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 21px;
    line-height: 1.25;
}
h6 {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--secondary-font);
    font-weight: 700;
}
.small {
    font-size: 14px;
}
.large {
    font-size: 21px;
    line-height: 1.4;
}
.container {
    max-width: 1500px;
    padding: 0 50px;
}
section {
    padding: 24px 0;
}
.hr {
    display: block;
    margin: 30px 0;
    border-bottom: 1px solid var(--border);
    position: relative;
}
.owl-carousel .owl-dots {
    display: inline-flex;
    align-items: center;
    gap: 9px;
}
.owl-carousel .owl-dots button {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 50%;
    transition: all 0.33s;
}
.owl-carousel .owl-dots button.active {
    background-color: var(--primary);
    border-color: var(--primary);
}
.owl-carousel .owl-dots button:not(button.active):hover {
    background-color: #CCCCCC;
}
.iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
} 
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/* Header Style */
header.header {
    padding: 16px 0;
    border-bottom: 1px solid var(--border);
}
.site-logo .white {
    display: none;
}
.logo-area {
    display: flex;
    align-items: flex-end;
}
.logo-area > span {
    margin-left: -44px;
    font-size: 12px;
    font-family: var(--secondary-font);
    font-weight: 500;
}
.mainmenu {
    gap: 30px;
    justify-content: flex-end;
}
.mainmenu > ul {
    display: flex;
    gap: 24px;
}
.mainmenu > ul > li > a {
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 500;
    padding: 4px;
    color: var(--high-contrast);
}
.magnifying-btn {
    width: 40px;
    height: 40px;
    color: var(--low-contrast);
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: transparent;
    padding: 6px;
}
.magnifying-btn:hover {
    color: var(--white);
    border-color: var(--primary);
    background: var(--primary);
}
.modal-dialog {
    max-width: 800px;
    margin: 96px auto;
}
.modal-content.search-form-modal {
    border-radius: 15px;
    padding: 80px 70px 110px;
}
.modal-content .modal-close {
    position: absolute;
    right: 24px;
    top: 20px;
    padding: 8px;
    border: none;
    background: none;
    font-size: 24px;
    line-height: 1;
}
.search-form-content {
    position: relative;
}
.search-form-content input[type="text"] {
    display: block;
    width: 100%;
    height: 80px;
    border: 2px solid var(--border);
    border-radius: 15px;
    padding: 24px 24px 24px 104px;
    outline: none;
    font-weight: 300;
    background: transparent;
}
.search-form-content button {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 2px solid var(--border);
    border-radius: 15px 0 0 15px;
    padding: 24px;
    color: var(--high-contrast);
    font-size: 20px;
}

/* Footer Style */
footer.footer {
    background-color: var(--bg);
    padding: 96px 0 48px;
}
.footer-heading {
    margin-bottom: 100px;
}
ul.question-list, ul.categories-list, .tags-group, .post-category {
    font-size: 12px;
    line-height: 1.25;
    font-family: var(--secondary-font);
    font-weight: 500;
}
:is(ul.question-list, ul.categories-list) li:not(li:last-child) {
    margin-bottom: 8px;
}
ul.question-list li a, .tags-group a {
    background-color: var(--primary);
    padding: 5px 12px;
    border-radius: 5px;
    color: var(--mid-contrast);
}
ul.categories-list li a {
    border: 1px solid var(--mid-contrast);
    border-radius: 5px;
    padding: 4px 11px;
    color: var(--mid-contrast);
}
.post-category a {
    background-color: var(--primary);
    padding: 5px 16px;
    border-radius: 15px;
    color: var(--mid-contrast);
}
.footer-category ul, .copyright-text p {
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 500;
    line-height: 1.6;
}
.footer-category ul li a {
    color: var(--high-contrast);
}
.footer-about {
    max-width: 530px;
    min-width: 300px;
}
.footer-about p {
    font-size: 21px;
    font-family: var(--secondary-font);
    font-weight: 400;
    color: #000000;
    margin-bottom: 48px;
}

/* Home Page Style */
.featured-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.section-sidebar {
    flex: 1 1 28%;
}
.section-sidebar h6 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 13px;
}
.featured-slider, .single-post-content {
    flex: 2 2 72%;
    overflow: hidden;
}
.single-featured-post {
    padding: 32px;
    background-color: var(--bg);
    border-radius: 15px;
}
.popular-question, .categories {
    padding-right: 16px;
}
.featured-post-content {
    padding: 24px;
}
.featured-post-content > p {
    max-width: 500px;
}
.post-category {
    display: inline-flex;
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    gap: 8px;
    margin-bottom: 30px;
}
.post-category span {
    font-size: 14px;
}
.post-category i {
    line-height: 1;
    font-size: 24px;
}
.author-info p {
    font-family: var(--secondary-font);
    font-weight: 500;
}
.author-info span {
    display: inline-block;
    font-family: var(--header-font);
    font-weight: 400;
}
.tags-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
.featured-thumb img {
    border-radius: 15px;
}
.featured-slider .owl-carousel .owl-dots {
    position: absolute;
    bottom: 32px;
    left: 56px;
}
.category-articles-heading h3 {
    display: flex;
    align-items: center;
    gap: 12px;
}
.category-article-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid var(--border);
    border-radius: 15px;
}
.category-article-container:not(.category-article-container:last-child){
    margin-bottom: 35px;
}
.category-article-container .single-article {
    flex-basis: calc(calc(100% - 2px) / 3);
}
.category-article-container .single-article.double-width {
    flex-basis: calc(calc(calc(100% - 2px) / 3) * 2);
}
span.vertical-bar {
    display: block;
    border-right: 1px solid var(--border);
}
.single-article {
    padding: 32px;
}
.single-article-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.article-bottom-content {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}
.single-article .featured-thumb {
    margin-bottom: 12px;
}
.category-articles-content {
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 32px 40px;
}
.single-category-article {
    max-width: 575px;
}
.article-date-author {
    color: var(--secondary);
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: 500;
    margin-bottom: 8px;
    display: flex;
    gap: 20px;
}
.article-date-author span:first-child {
    font-family: var(--header-font);
    font-weight: 600;
}
.single-category-article h5 {
    margin-bottom: 8px;
}
.category-content {
    margin-bottom: 64px;
}
.category-info {
    max-width: 460px;
    font-size: 18px;
}
.category-info h1 {
    font-size: 60px;
    margin-bottom: 24px;
}
.category-thumb img {
    border-radius: 15px;
}
.post-info .author-info {
    margin-bottom: 20px;
}
section.single-post {
    padding: 0;
}
.single-post-container {
    display: flex;
    align-items: stretch;
}
.single-post-container .section-sidebar {
    padding: 80px 0;
}
.single-post-content {
    border-left: 1px solid var(--border);
    padding: 80px 0;
}
.single-post-inner-container {
    max-width: 800px;
    margin-left: 70px;
}
.category-reading-time {
    display: flex;
    gap: 86px;
    margin-bottom: 64px;
}
.category-reading-time > * {
    flex: 1;
    max-width: 240px;
    padding-top: 16px;
    border-top: 1px solid var(--border);
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: 400;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.category-reading-time .post-category {
    gap: 20px;
    font-weight: 500;
}
.category-reading-time .post-category i {
    font-size: 30px;
}
.reading-time i {
    font-size: 25px;
}
.summary-and-audio {
    padding: 24px 0 32px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin-bottom: 32px;
    display: flex;
    gap: 64px;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--secondary-font);
}
.title-with-icon {
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
.title-with-icon i {
    font-size: 18px;
}
.article-summary {
    position: relative;
}
.article-summary button {
    border: none;
    padding: 18px 100px 18px 32px;
    font-weight: 600;
    border-radius: 8px;
    position: relative;
}
.article-summary button::after {
    content: '\f107';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    line-height: 1;
    font-size: 14px;
    right: 28px;
    transform: rotate(180deg);
    top: calc(50% - 7px);
    transition: all 0.33s;
}
.article-summary button.collapsed::after {
    transform: rotate(0);
}
.summary-popovers {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 9;
    width: 720px;
    max-width: calc(100vw - 24px);
    border-radius: 8px;
    background: #F1F3F4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.summary-content {
    padding: 32px 48px 24px 64px;
    font-size: 14px;
    font-weight: 400;
}
.summary-content h5 {
    font-family: var(--secondary-font);
    font-weight: 600;
    margin-bottom: 20px;
}
:is(.summary-content, .article-editor-content) p:not(p:last-child) {
    margin-bottom: 32px;
}
.summary-content span {
    font-size: 12px;
    font-style: italic;
}
.article-editor-content {
    max-width: 720px;
}
.article-editor-content img {
    border-radius: 15px;
    margin-bottom: 48px;
}
.article-editor-content h3 {
    font-weight: 400;
    margin-bottom: 24px;
}
.article-editor-content a {
    color: var(--high-contrast);
    text-decoration: underline;
}