@media screen and (max-width: 1399px) {
    header.header .logo-area>span {
        display: none;
    }
    
}

@media screen and (max-width: 1199px) {
    .container {
        padding: 0 12px;
    }
}

@media screen and (max-width: 991.9px) {
    body.menu-active .site-logo .white {
        display: inline-block;
    }

    body.menu-active .site-logo .primary {
        display: none;
    }

    .search-form-content input[type="text"] {
        height: 60px;
        padding: 16px 16px 16px 76px;
        border-width: 1px;
    }

    .search-form-content button {
        width: 60px;
        height: 60px;
        padding: 12px;
        border-width: 1px;
    }

    .mobile-search-form .search-form-content input[type="text"],
    .mobile-search-form .search-form-content button {
        border-color: var(--high-contrast);
    }

    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 99;
    }

    .hamburger-btn {
        width: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        border: none;
        background: transparent;
        padding: 3px;
    }

    .hamburger-btn span {
        width: 100%;
        height: 3px;
        background-color: #68CE83;
        border-radius: 2px;
        position: relative;
        top: 0;
        transition: all 0.33s;
    }

    body.menu-active .hamburger-btn span {
        background-color: var(--white);
        height: 2px;
    }

    body.menu-active .hamburger-btn span:first-child {
        transform: rotate(45deg);
        top: 6px;
    }

    body.menu-active .hamburger-btn span:nth-child(2) {
        width: 0;
    }

    body.menu-active .hamburger-btn span:last-child {
        transform: rotate(-45deg);
        top: -6px;
    }

    .mainmenu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #68CE83;
        padding: 0 12px;
        z-index: 9;
    }

    .mainmenu > ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        padding: 120px 0 30px;
    }

    .mainmenu > ul > li > a {
        font-size: 16px;
    }

    .mobile-search-form {
        padding-bottom: 60px;
    }

    footer.footer {
        padding: 40px 0;
    }

    .footer-heading {
        margin-bottom: 45px;
    }




}

@media screen and (max-width: 767.9px) {}

@media screen and (min-width: 768px) {
    .footer-about p {
        margin-bottom: 80px;
    }

}

@media screen and (min-width: 992px) {
    .mainmenu>ul>li>a:hover {
        color: var(--primary);
    }

}
@media screen and (min-width: 1199px) {
    .hr::before {
        content: '';
        display: block;
        width: 75px;
        border-bottom: 1px solid var(--border);
        position: absolute;
        top: 0;
        left: -75px;
    }
    
}
@media screen and (min-width: 1550px) {

    header,
    main,
    footer {
        max-width: 1550px;
        margin: 0 auto;
        border-right: 1px solid var(--border);
        border-left: 1px solid var(--border);
    }



}